In [2]:
#Try to print a prime number in between 1 to 1000
for i in range(1,1001):
    if i > 1:
        for j in range(2,i):
            if i % j == 0:
                break
        else:
            print("Expected Prime Number : ",i)

Expected Prime Number :  2
Expected Prime Number :  3
Expected Prime Number :  5
Expected Prime Number :  7
Expected Prime Number :  11
Expected Prime Number :  13
Expected Prime Number :  17
Expected Prime Number :  19
Expected Prime Number :  23
Expected Prime Number :  29
Expected Prime Number :  31
Expected Prime Number :  37
Expected Prime Number :  41
Expected Prime Number :  43
Expected Prime Number :  47
Expected Prime Number :  53
Expected Prime Number :  59
Expected Prime Number :  61
Expected Prime Number :  67
Expected Prime Number :  71
Expected Prime Number :  73
Expected Prime Number :  79
Expected Prime Number :  83
Expected Prime Number :  89
Expected Prime Number :  97
Expected Prime Number :  101
Expected Prime Number :  103
Expected Prime Number :  107
Expected Prime Number :  109
Expected Prime Number :  113
Expected Prime Number :  127
Expected Prime Number :  131
Expected Prime Number :  137
Expected Prime Number :  139
Expected Prime Number :  149
Expected Prime Number :  151
Expected Prime Number :  157
Expected Prime Number :  163
Expected Prime Number :  167
Expected Prime Number :  173
Expected Prime Number :  179
Expected Prime Number :  181
Expected Prime Number :  191
Expected Prime Number :  193
Expected Prime Number :  197
Expected Prime Number :  199
Expected Prime Number :  211
Expected Prime Number :  223
Expected Prime Number :  227
Expected Prime Number :  229
Expected Prime Number :  233
Expected Prime Number :  239
Expected Prime Number :  241
Expected Prime Number :  251
Expected Prime Number :  257
Expected Prime Number :  263
Expected Prime Number :  269
Expected Prime Number :  271
Expected Prime Number :  277
Expected Prime Number :  281
Expected Prime Number :  283
Expected Prime Number :  293
Expected Prime Number :  307
Expected Prime Number :  311
Expected Prime Number :  313
Expected Prime Number :  317
Expected Prime Number :  331
Expected Prime Number :  337
Expected Prime Number :  347
Expected Prime Number :  349
Expected Prime Number :  353
Expected Prime Number :  359
Expected Prime Number :  367
Expected Prime Number :  373
Expected Prime Number :  379
Expected Prime Number :  383
Expected Prime Number :  389
Expected Prime Number :  397
Expected Prime Number :  401
Expected Prime Number :  409
Expected Prime Number :  419
Expected Prime Number :  421
Expected Prime Number :  431
Expected Prime Number :  433
Expected Prime Number :  439
Expected Prime Number :  443
Expected Prime Number :  449
Expected Prime Number :  457
Expected Prime Number :  461
Expected Prime Number :  463
Expected Prime Number :  467
Expected Prime Number :  479
Expected Prime Number :  487
Expected Prime Number :  491
Expected Prime Number :  499
Expected Prime Number :  503
Expected Prime Number :  509
Expected Prime Number :  521
Expected Prime Number :  523
Expected Prime Number :  541
Expected Prime Number :  547
Expected Prime Number :  557
Expected Prime Number :  563
Expected Prime Number :  569
Expected Prime Number :  571
Expected Prime Number :  577
Expected Prime Number :  587
Expected Prime Number :  593
Expected Prime Number :  599
Expected Prime Number :  601
Expected Prime Number :  607
Expected Prime Number :  613
Expected Prime Number :  617
Expected Prime Number :  619
Expected Prime Number :  631
Expected Prime Number :  641
Expected Prime Number :  643
Expected Prime Number :  647
Expected Prime Number :  653
Expected Prime Number :  659
Expected Prime Number :  661
Expected Prime Number :  673
Expected Prime Number :  677
Expected Prime Number :  683
Expected Prime Number :  691
Expected Prime Number :  701
Expected Prime Number :  709
Expected Prime Number :  719
Expected Prime Number :  727
Expected Prime Number :  733
Expected Prime Number :  739
Expected Prime Number :  743
Expected Prime Number :  751
Expected Prime Number :  757
Expected Prime Number :  761
Expected Prime Number :  769
Expected Prime Number :  773
Expected Prime Number :  787
Expected Prime Number :  797
Expected Prime Number :  809
Expected Prime Number :  811
Expected Prime Number :  821
Expected Prime Number :  823
Expected Prime Number :  827
Expected Prime Number :  829
Expected Prime Number :  839
Expected Prime Number :  853
Expected Prime Number :  857
Expected Prime Number :  859
Expected Prime Number :  863
Expected Prime Number :  877
Expected Prime Number :  881
Expected Prime Number :  883
Expected Prime Number :  887
Expected Prime Number :  907
Expected Prime Number :  911
Expected Prime Number :  919
Expected Prime Number :  929
Expected Prime Number :  937
Expected Prime Number :  941
Expected Prime Number :  947
Expected Prime Number :  953
Expected Prime Number :  967
Expected Prime Number :  971
Expected Prime Number :  977
Expected Prime Number :  983
Expected Prime Number :  991
Expected Prime Number :  997

In [5]:
# Try to write a function which  is equivalent  to print() function in python

def Print_Output(x):
    import sys
    sys.stdout.write(x)
Print_Output('My Name is Sandip')

My Name is Sandip

In [16]:
#Try to write a function which is a replica of list append , extend and pop function 
#List Append:
def ListAppend(MainList,Addition):
    MainList=[*MainList,Addition]
    return MainList
ListAppend([1,2,4],[5,6,7])
#List Extend
def ListExtend(M,A):
    M+=[A]
    return M
ListExtend([3,4,6],[4,5,6])
#List POP
def ListPop(List,Index):
    del List[Index]
    return List
ListPop([9,5,6,7,84,7,3],3)

[9, 5, 6, 84, 7, 3]

In [20]:
#: Try to write a lambda function which can return a concatination of all the string that we will pass
List=['Ineruron','Data','Science','Boot','Camp']
t = lambda text: ' '.join(text)
t(List)

'Ineruron Data Science Boot Camp'

In [31]:
# Try to write a lambda function which can return list of square of all the data between 1-100 
List=[]
for i in range(1,101):
    List+=[i]
# print(List)
print(list(map(lambda x:x*x, List)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [47]:
# : Try to write a 10 Different different example of lambda function with a choice of your taks
#1. Program to filter out only the even items from a list
my_list = [3,7,8,12,44,67,9,10,4,6]
new_list = list(filter(lambda x: (x%2 == 0) , my_list))
print(new_list)
#2. Program to double each item in a list using map()
my_list = [1,7,5,9,12,45,46,88,92,1004]
new_list = list(map(lambda x: x * 2 , my_list))
print(new_list)
# 3. A lambda function that checks if a number is positive.
my_list = [6,-1,67,98,-4,-6,10,20,-5]
new_list = list(filter(lambda x: x > 0, my_list))
print(new_list)
# 4. Code to show cube of a number
lambda_cube = lambda y: y*y*y
print(lambda_cube(5))
# 5. lambda function with list comprehension and lambda with for loop
tables = [lambda x=x: x*10 for x in range(1, 11)]
for table in tables:
    print(table())
# 6. Lambda Function with if-else
Max = lambda a, b : a if(a > b) else b
print(Max(5, 8))
#7. Reduce() with lambda() to get sum of a list
from functools import reduce
li = [6,8,9,10,24,100,105]
sum = reduce((lambda x, y: x + y), li)
print (sum)
# 8. Lambda Function to get a lsit with a condition
sequences = [10,2,8,7,5,4,3,11,0, 1]
filtered_answer = filter (lambda x: x > 5, sequences) 
print(list(filtered_answer))
# 9. Lamda function to return 1 arguments from another 2 arguemnts
Full_name = lambda first, last: f'Full name: {first.title()} {last.title()}'
Full_name('Mr.','Sandip Nandi')
# 10. Lambda function with higher-order functions as built-in functions or in the standard library.
High_ord_fun = lambda x, func: x + func(x)
High_ord_fun(7, lambda x: x * x)

[8, 12, 44, 10, 4, 6]
[2, 14, 10, 18, 24, 90, 92, 176, 184, 2008]
[6, 67, 98, 10, 20]
125
10
20
30
40
50
60
70
80
90
100
8
262
[10, 8, 7, 11]

56

In [51]:
# 7 Try to wwrite a funtion whihc can perform a read operation from .txt file 
f = open("Music/test.txt",'r',encoding = 'utf-8')
f.read()

'Hello!! Every One My name is Sandip Nandi,currently Scripting some process.'